:root {
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
    --cor-borda: #2BDEFD; 
}


body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border: 2px solid var(--cor-borda); 
    border-radius: 15px;
    transition: border-color 0.5s; 
}


h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    transition: background-color 0.5s, color 0.5s; 
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}


.caixa-resultado{
    display: none;
}

.caixa-resultado.mostrar{
    display: block;
}

.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

